<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Lists.plist
   random-number-generate

   Created by Lucas Calazans on 19/04/16.
   Copyright (c) 2016 Arthur Hardmann. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
